[Unit]
Description=Telegram Blitzer-Warner Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/src/fahrverbot
ExecStart=/usr/bin/python3 src/bot.py
Restart=always
RestartSec=10
EnvironmentFile=/usr/src/fahrverbot/.env

[Install]
WantedBy=multi-user.target
